annotated-types
anyio
certifi
charset-normalizer
coverage
dnspython
dotenv
email-validator
exceptiongroup
fastapi
h11
httpcore
httpx
idna
iniconfig
packaging
pluggy
pydantic
pydantic_core
pytest
pytest-asyncio
pytest-cov
python-dotenv
requests
sniffio
SQLAlchemy
starlette
tomli
typing_extensions
urllib3
